.formulario{
    margin: 30px  !important;
}
.titular{
    margin: 15px;
}
.titular .baj{
    margin-left: 5px;
}
.fecha{
    margin-left: 38%;
}
.uwu {
    margin: 1px;
}
.noticia{
    margin: 20px;
}
.imagen{
    margin: 4%;
}
.letras{
    color: dimgrey;
}
#santo{
    color: crimson;
}