.formulario{
    margin: 30px  !important;
}
.titular{
    margin: 15px;
}
.titular .baj{
    margin-left: 5px;
}
.fecha{
    margin-left: 20%;
}

.uwu {
    margin: 1px;
}

.logo img{
    display: block;
    width: 100%;
    height: auto;
}