.formulario{
    margin: 30px  !important;
}
.titular{
    margin: 15px;
}
.titular .baj{
    margin-left: 5px;
}
.fecha{
    margin-left: 38%;
}
.uwu {
    margin: 1px;
}
.noticia{
    margin: 20px;
}
.imagen{
    margin: 4%;
}
.letras{
    color: dimgrey;
}
.separacion{
    background-color: rgb(223, 110, 5);
    margin: 30px auto;
    font-family: Arial;
    color: rgb(255, 255, 255);
    text-align: center;
}
.cool-date2 {
    background-color: green;
  }